<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeCreate" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmployeeRetrieve" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55173/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeCreate"
                contract="EmployeeServiceReference.IEmployeeCreate" name="BasicHttpBinding_IEmployeeCreate" />
            <endpoint address="http://localhost:55173/EmployeeService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeRetrieve"
                contract="EmployeeServiceReference.IEmployeeRetrieve" name="WSHttpBinding_IEmployeeRetrieve">
                <identity>
                    <userPrincipalName value="sbatliwala@pune.tavisca.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>